body {
    background: #20232e;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

html {
    background: #20232e;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}